[user]
    name = Hartanto Thio
    email = 
[color]
    ui = true
    diff = true
[core]
    autocrlf = input
    editor = vim
    ignorecase = false
[push]
    default = simple
[alias]
    co = checkout
    cob = checkout -b
    br = branch
    bra = branch -a
    brd = branch -d
    brD = branch -D
    st = status
    aa = add -A .
    cm = commit -m
    # git push -u origin [branch_name]
    po = push origin
    pom = push origin master
    plo = pull origin
    plom = pull origin master
    unstage = reset HEAD --
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold red)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(bold blue)(%an)%C(reset) %C(white)%s%C(reset)%C(bold yellow)%d%C(reset)' --all
    r = remote -v
